.ui-coverflow-wrapper{
    height:400px;
}
.ui-state-active{
    border:0px;
}

#coverflow-background{
  padding:10px;
  background-color:#cccccc;
}

#coverflow img{
  width:240px;
  height:318px;
}

#coverflow-controls {
    position: absolute;
    left: 50%;
    z-index: 50;
    transform: translateX(-50%);
    bottom: 30px;
}

#coverflow-controls i{
padding:20px;
}